@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
}
body{
    
    padding: 30px;
    background-image: linear-gradient(to right,#4A50E1, #fde3a78c);
}

 nav > a{
 
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.384);
    background-color: #4A50E1;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    padding: 5px;
     font-size: 1.1em;
   text-decoration: none;
    color: rgb(238, 236, 236);
   
}
nav > a:hover{
    color: #2D4037;
    text-decoration: underline;
}
   
.container{
    display: flex;
 
}
.titulo{
    color: #000000ee;
    text-shadow: 10px 5px 10px  rgba(0, 0, 0, 0.308);
    font-weight: bolder;
    font-size: 2.5em;
     padding: 40px;
    font-family: sans-serif
}
nav{
    text-align: right;
}
div.img{
   text-align: right;
}

